@{
  Layout = "_Layout";
}
<br>
<form action="/outputresult" method="post">
  <div class="form-group">
    <div class="row">
      <label id="titles" class="form-control-static" for="UserInputWord">Please enter a word of your choosing: </label>
      <br>
      <input id="UserInputWord" name="UserInputWord" type="text">
    </div>
    <div class="row">
      <label id="titles" for="UserInputString">Please enter a sentence/string/paragraph here:</label>
      <br>
      <input id="UserInputString" name="UserInputString" type="text">
    </div>
    <div class="row">
      <label id="titles" for="wordCounterSubmit">Hit the count button to find out your result!</label>
      <button type="submit" class="btn btn-success">Count!</button>
    </div>
  </form>
</form>
