@{
  Layout = "_Layout";
}
  <label for="outputResult">WordCounter Output:@Model.CountWords()</label>
  <output id="outputResult" name="outputResult" type="text">
    <form id="homepage" action="/">
  <button type="submit" class="btn btn-success">Go back to homepage</button>
</form>
