<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/styles.css">
    <title>WordCounter</title>
  </head>
  <body>
      <div class="jumbotron">
        @* <img id="wc2" src="/img/wcimage.png"> *@


      </div>
      <div class="container">
        <h1>C# Week 2:Word Counter Project</h1>
        <h2>Word Counter Tool</h2>
        <h3>October 2017</h3>
    @RenderBody()
    </div>
  </body>
</html>
