@{
  Layout = "_Layout";
}

<h1>C# Week 2:Word Counter Project</h1>
<h2>October 2017</h2>
<h3>Word Counter Tool</h3>
<br>
<form action="/Result" method="post">
  <label for="UserInputWord">Please enter a word of your choosing: </label>
  <br>
  <input id="UserInputWord" name="UserInputWord" type="text">
  <br>
  <label for="UserInputString">Please enter a sentence/string/paragraph here: </label>
  <br>
  <input id="UserInputString" name="UserInputString" type="text">
  <br>
  <label for="wordCounterSubmit">Hit the count button to find out your result!</label>
  <button type="submit" class="btn btn-Warning">Count!</button>
</form>
