@{
  Layout = "_Layout";
}
<h1>Word Counter Tool</h1>
<form action="/WordCounter/result" method="post">
  <label for="outputResult">WordCounter Output:</label>
  <output id="outputResult" name="outputResult" type="text">
</form>
