#wc {
  float: left;
}

#titles {
  color: #39aef7;
}

.container {
  background-color: #323c47;
}

.jumbotron {
  background-image: url("../img/wordcounter.jpg");
  background-repeat: space;
  background-position: bottom;
}

h1 {
  font-family: serif;
  color: #39aef7;
  font-weight: bold;
}

h2 {
  font-family: serif;
  color: #39aef7;
  font-weight: bold;

}

h3 {
  font-family: serif;
  color: #39aef7;
  font-weight: bold;
}

p {
  color: #39aef7;
  font-size: 32px;
  font-size: 32px;
}
